.env
venv
.idea
persona.yaml
__pycache__/
*.py[cod]
.github
.claude
memory-tool.db
CLAUDE.md
guides
.mypy_cache
.playwright-mcp
.pytest_cache
.vscode
.ruff_cache
*.md
!README.md
!CHANGELOG.md
.coverage
.vscode
htmlcov
tmpclaude*
